table {
  	font-family: arial, sans-serif;
  	border-collapse: collapse;
  	width: 100%;
}

td, th {
  	border: 1px solid black;
  	text-align: left;
  	padding: 8px;
}

tr:nth-child(even) {
  	background-color: #dddddd;
}

.table-report td {
  	border-bottom: 1px solid black;
  	border-left: none;
    border-right: none;
  	padding: 8px;
}

.table-report tr:nth-child(even) {
  	background: none;
}